<div class="container py-5 profile-page">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card profile-card shadow-lg border-0">
        <div class="card-body text-center">
          <img src="https://static.wingify.com/gcp/uploads/sites/3/2021/03/Tips-for-optimizing-eCommerce-homepage.png" alt="Profile" class="rounded-circle profile-img mb-3">
          <h3 class="username">Hey, {{name}} 👋</h3>
          <p class="user-email">{{email}}</p>
          
          <a routerLink="/home" class="btn btn-edit">back</a>
        </div>
      </div>

      

    </div>
  </div>
</div>
